appdirs==1.4.3
asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
click==6.7
Django==3.0.4
django-crispy-forms==1.9.0
dominate==2.3.1
Flask==0.12
Flask-Bootstrap==3.3.7.1
flask-googlemaps==0.4.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
idna==2.9
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
numpy==1.18.2
packaging==16.8
pandas==1.0.3
psycopg2==2.8.4
PyJWT==2.4.0
pyodbc==4.0.30
pyparsing==2.2.0
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
six==1.10.0
SQLAlchemy==1.3.15
sqlparse==0.3.1
twilio==6.37.0
urllib3==1.25.8
visitor==0.1.3
Werkzeug==0.11.15
WTForms==2.1