{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help next door</title>
    <!-- JS vendor tags -->
    <script src="{% static 'assets/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/js/ol.js' %}"></script>
    <script src="{% static 'assets/js/ol-ext.js' %}"></script>
    <script src="{% static 'assets/js/exif.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDVvaHK2JzQDECWFGRb3dQIt7BdUWSIVJE&sensor=true"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- css vendor tags -->
    <link href="{% static 'assets/css/ol.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/ol_ext_style.css' %}" rel="stylesheet">

    {% block header %}


    {% endblock %}
    <title>Help Next Door</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">CovidAssist</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/covid">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'volunteer' %}">I Can to Help!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style='margin-top : 55px'>
        {% block Body %}


        {% endblock %}
    </div>
    {% block scripts %}


    {% endblock %}
    <script>  $('select').select2()</script>

</body>

</html>