

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CovidAssist</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">


    <meta charset="utf-8">
    <title>Slideout Demo</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style>

        body {
            width: 100%;
            height: 100%;
        }

        .slideout-menu {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            width: 256px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            display: none;
        }

        .slideout-panel {
            position: relative;
            z-index: 1;
            will-change: transform;
        }

        .slideout-open,
        .slideout-open body,
        .slideout-open .slideout-panel {
            overflow: hidden;
        }

            .slideout-open .slideout-menu {
                display: block;
            }
    </style>
    {{sndmap.js}}
</head>
<body>

    <nav id="menu">
        <h2>Menu</h2>


        <!-- Call to Action -->
        <div class="row card-body">
            <!-- Need Help -->
            <div class="col-12">
                <div class="card text-white bg-primary my-5 text-center">
                    <div class="card-body">
                        <p class="text-white m-0">I Need Assistance</p>
                    </div>
                </div>

                <div class="quick-home-order">
                    <form action="" method="post" novalidate>
                        <div class="form-group">

                            <p>
                                {{ form.phone.label }}<br>
                                {{ form.phone(class="form-control", size=20) }}<br>
                                {% for error in form.phone.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>

                        </div>


                        <div class="form-group">
                            <p>
                                {{ form.postal.label }}<br>
                                {{ form.postal(class="form-control", size=10) }}<br>
                                {% for error in form.postal.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>


                        </div>

                        <div class="form-group">

                            <p>
                                {{ form.time.label }}<br>
                                {{ form.time(class="form-control") }}<br>
                                {% for error in form.time.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>






                        <div class="form-group">
                            <label for="homeOrderNeeds">What I Need:</label>

                            {%for item in listoflist %}

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id={{item}}>
                                <label class="form-check-label" for="homeOrderNeedFood">
                                    {{item}}
                                </label>
                            </div>
                            {% endfor %}


                        </div>


                        <div class="form-group">
                            <div class="col-sm-10">
                                <p>{{ form.submit(class="btn btn-primary") }}</p>
                            </div>
                        </div>




                    </form>
                </div>
            </div>


    </nav>

    <main id="panel">



        <div id="map"></div>
        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 6
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }


                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "http://localhost:5000/",
                    traditional: "true",
                    data: JSON.stringify({ pos }),
                    dataType: "json"
                });
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

        </script>
        <script async defer
                src="{{gapi}}">

        </script>



        <header>
            <button class="toggle-button">I Need Assistance</button>
            <div class="card text-white bg-primary my-5 text-center">            </div>


            <h1>Mockup: Help Next Door</h1>
            <h3> Reach out to people in need OR if you need assistance Press the button above</h3>
            {{sndmap.html}}

        </header>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <script>
        var slideout = new Slideout({
            'panel': document.getElementById('panel'),
            'menu': document.getElementById('menu'),
            'padding': 256,
            'tolerance': 70
        });

        // Toggle button
        document.querySelector('.toggle-button').addEventListener('click', function () {
            slideout.toggle();
        });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>










</body>
</html>
